@model IEnumerable<APP_MVC_10.Entity.Producto>
@{
    ViewBag.Title = "ProductoNombre";
    WebGrid wg = new WebGrid(Model);
}

<h2>Consulta de Productos por Nombre</h2>
<br />
@using (@Html.BeginForm("ProductoNombre", "Producto", FormMethod.Get))
{
    <fieldset>
        <legend>Buscar</legend>
        @Html.Label("lblProducto", "Producto ==>")
        @Html.TextBox("nom")

        <input type="submit" value="Buscar" />
    </fieldset>
}

@wg.GetHtml(
columns: new[]{
    wg.Column("IdProducto",header:"Código"),
    wg.Column("NombreProducto", header:"Descripción"),
    wg.Column("umedida", header:"CantXUnidad"),
    wg.Column("Precio", header:"Precio"),
    wg.Column("Stock", header:"Stock")
}
)

